body {
  font-family:sans-serif;
  font-size: smaller;
  margin: 5%;
  background-image: url(../img/collage.jpg);
  background-attachment: fixed;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1, h2, h3{
  color: black;
  font-weight: bold;
  padding-bottom: 50px;
  column-span: all;
  text-align: center;
}

.btn {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  column-span: all;
  text-align: center;
}

.btn:hover {
  background-color: white;
  color: black;
}

.container {
  border-radius: 50px;
  background-color: aliceblue;
  padding: 10%;
  width: 90%;
  position: relative;
  column-count: 1;
  column-width: 30%;
  margin: auto;
  display: block;
}

p {
  margin-bottom: 10px;
}

#go, #ruby, #python, #sorry {
  display: none;
  padding-top: 30px;
}